/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"
@import url(http://fonts.googleapis.com/css?family=Roboto:900,400,700,500,300,100)

@-webkit-keyframes pulse
	0% 
		-webkit-transform: scale(1)
	50% 
		-webkit-transform: scale(1.05)
	100% 
		-webkit-transform: scale(1)

@keyframes pulse
	0% 
		transform: scale(1)
	50%	
		transform: scale(1.05)
	100% 
		transform: scale(1)

html, body
	min-height: 100%

body
	font-family: 'Roboto', sans-serif
	background: #cccccc
	background: -moz-linear-gradient(top,  #cccccc 0%, #666666 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#666666))
	background: -webkit-linear-gradient(top,  #cccccc 0%,#666666 100%)
	background: -o-linear-gradient(top,  #cccccc 0%,#666666 100%)
	background: -ms-linear-gradient(top,  #cccccc 0%,#666666 100%)
	background: linear-gradient(to bottom,  #cccccc 0%,#666666 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#666666',GradientType=0 )



.playing
	-webkit-animation-name: pulse
	animation-name: pulse
	-webkit-animation-duration: 1s
	animation-duration: 1s
	-webkit-animation-fill-mode: both
	animation-fill-mode: both
	animation-iteration-count: infinite
	-webkit-animation-iteration-count: infinite

.songbox
	margin: 0 auto 30px
	width: 300px
	position: relative
	.songchart
		position: absolute
		top: 0
		opacity: 0.7
		width: 100%

.record-header
	height: 720px
	background-image: image-url("record.svg")
	background-repeat: no-repeat
	background-size: cover
	background-position: 0 -220px
	position: relative
	max-width: 940px
	margin: 0 auto
	.record-label
		position: absolute
		top: 6px
		left: 226px
		transition-duration: 0.2s
		transition-property:transform
	.paused
		-webkit-animation-play-state: paused
		animation-play-state: paused	

.box-outer-4
	background-color: #1e1e53
	width: 1000px
	position: relative
	margin: -458px auto 0
	padding: 10px
	color: white
	.song-title
		font-size: 24px
		font-weight: 200
	.song-artist
		font-size: 19px
		font-weight: 200
	.song-album
		font-weight: 200
		font-style: italic
		font-size: 12px
	.btn-primary
		background-color: transparent
		border: 3px solid green
		color: white
		width: 300px
		font-size: 24px
		text-transform: uppercase
		font-weight: 400
		margin-bottom: 10px
		border-radius: 12px
		&:hover
			border-color: red
			color: yellow
	.box-outer-3
		padding: 10px
		border-radius: 12px
		border: 3px solid green
		.box-outer-2
			border: 3px solid yellow
			border-radius: 12px
			padding: 10px
			.box-outer
				border: 3px solid red
				border-radius: 12px
				padding: 30px 0

.outlinebox
	width: 340px
	margin: auto
	padding: 20px
	border: 3px solid
	border-radius: 12px
	h3
		font-size: 50px
		font-weight: 900
		text-transform: uppercase
		margin: -16px 0 0
		letter-spacing: 20px
	&.winnerbox
		border-color: green
		color: green
	&.loserbox
		border-color: red
		color: red
		h3
			font-weight: 100
			letter-spacing: 36px

.score
	display: block
	margin: 10px 0 30px
	.score-title
		font-size: 18px
		text-transform: uppercase
		border-bottom: 1px solid
		display: inline-block
		margin: 6px
	.score-number
		font-size: 80px
		line-height: 70px
		font-weight: 100
		vertical-align: middle
	.score-pct		
		font-size: 40px
		vertical-align: middle
		font-weight: 100

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)	